<template>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="4">{{monthString}}</th>
        </tr>
        <tr>
          <th @click="switchMonth">{{showMonthOnOrOff}}<th v-for="(day, index) in days" :key="day" @click="selectColumns(index+1)">{{day}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(week, index) in weeks" :key="index">
          <th class="weeknumber" @click="selectRow(week)">{{weekNumber(week)}}</th>
          <td
            v-for="(day) in week"
            :key="day.dateNo"
            :class="[day.dateNo ? typeOfLeave(day) : '']"
            @click="selectDate(day)"
          >{{day.dateNo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "DateTable",
  props: {
    month: Array,
    monthNo: Number
  },
  data() {
    return {
      isMonthOn: true,
      weeks: [],
      days: ["Mån", "Tis", "Ons", "Tor", "Fre", "Lör", "Sön"],
      months: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },
  created() {},
  mounted() {
    // const { year, month } = this.month[0];
    // this.monthString = `${this.months[month]} -  ${year}`;
    //  this.weeks = this.setupWeeks(this.month);
  },
  updated() {},
  computed: {
    showMonthOnOrOff() {
      return this.isMonthOn ? '+' : '-';
    },  
    monthString() {
      const { year, month } = this.month[0];
      return `${this.months[month]} -  ${year}`;
    },    
  },
  watch: {
    monthString: {
      immediate: true,
      handler() {
        this.weeks = this.setupWeeks(this.month);
      }
    },
    month() {
      this.weeks = this.setupWeeks(this.month);
    }
  },
  methods: {
    switchMonth() {
      this.isMonthOn = !this.isMonthOn;
      this.$emit("selectedMonth", {monthNo: this.monthNo, selectedDays: this.month,switchero: true, unSelect: !this.isMonthOn  })
    },
    weekNumber(week) {
      return week[6] ? week[6].weekNo : week[0].weekNo;
    },
    typeOfLeave(day) {
      if (day.parent1 === 100) {
        return ["parent1", day.sgi ? "sgi" : ""];
      } else if (day.parent2 === 100) {
        return ["parent2", day.sgi ? "sgi" : ""];
      } else {
        return "active";
      }
    },
    selectRow(week) {
      this.$emit("selectedRow", {monthNo: week[6]  ? week[6].month : week[0].month, selectedDays: week});
    },
    selectColumns(dayNo) {
      const selectedDays = this.weeks
        .flat()
        .filter(day => !!day && day.dayOfWeek === dayNo);
      this.$emit("selectedColumn", {
        monthNo: selectedDays[0].month,
        selectedDays
      });
    },
    selectDate(day) {
      const monthNo = day.month;
      this.$emit("click", { selectedDay: day, monthNo });
    },
    setupWeeks(month) {
      const firstDayOfWeek = month[0].dayOfWeek;
      let weeks = [];
      let days = [];
      let weekDays = [];
      const daysInWeek = 7;
      for (let i = 1; i < firstDayOfWeek; i++) {
        days.push({});
      }
      days = [...days, ...month];
      for (let i = 0; i < days.length; i += daysInWeek) {
        weekDays = days.slice(i, i + daysInWeek);
        weeks.push(weekDays);
      }
      return weeks;
    },
    getFirstAsDayOfWeek(date) {
      date.setDate(1);
      let day = date.getDay();
      if (day === 0) {
        //sunday is 0 on Date object
        day = 7;
      }
      return day;
    },
    getLastDayOfMonth(date) {
      const year = date.getYear();
      const month = date.getMonth();
      return new Date(year, month + 1, 0).getDate();
    },
    hasLeave(leave) {
      if (leave === 100) {
        return true;
      }
      return false;
    }
  }
};
</script>

<style scoped>
tr > td.active:hover {
  background: lightblue;
}
.active {
  background: lightgray;
}
.leave {
  background: lightgreen;
}
.parent1 {
  background: lightgreen;
}
.parent1.sgi {
  background: green;
}
.parent2 {
  background: lightblue;
}
.parent2.sgi {
  background: rgb(79, 79, 243);
  color: white;
}
.weeknumber {
  font-size: x-small;
}
</style>