<template>
  <div :class="selectedClass" @click="select" >
    <h3>{{name}}</h3> 
    <h4 @click="selectOrder('sgi')" :class="sgi_color">SGI: {{parentData.sgi}}</h4>
    <h4 @click="selectOrder('low')" :class="low_color">Low: {{parentData.low}}</h4>    
  </div>
</template>

<script>
export default {
  name: "Parent",
  props: {
    name: String,
    parentData: Object,
    order: Array,
    value: Number,
    selected: Boolean,
  },
  data() {
    return {
      sgi: false,
      low: false,
   //   selected: false,
    };
  },
  watch: {},
  computed: {
    selectedClass() {
      return this.selected ?  `parent ${this.name}_selected` : "parent";
    },
    sgi_color() {
      return this.sgi ? `${this.name}_sgi` : "";
    },
    low_color() {
      return this.low ? `${this.name}_low` : "";
    }
  },
  methods: {
    select() {
     // this.selected = !this.selected;
      console.log("Selected", this.name);
      this.$emit("selectParent", this.name);
    },    
    selectOrder(type) {
      if (type === "sgi") {
        this.sgi = !this.sgi;
      } else {
        this.low = !this.low;
      }

      this.$emit("selectOrder", `${this.name}_${type}`);
    }
  }
};
</script>

<style  scoped>
.parent {
  display: inline-block;
  padding: 10px;
}
.parent:hover {
  background: lightgray;
}
.Parent1_selected {
  outline-style: solid;
  outline-color: green;
}
.Parent2_selected {
  outline-style: solid;
  outline-color: blue;
}
.Parent1_sgi {
  background: green;
}
.Parent2_sgi {
  background: rgb(79, 79, 243);
}
.Parent1_low {
  background: lightgreen;
}
.Parent2_low {
  background: lightblue;
}
</style>