<template>
    <div class="slidercontainer">
        <input type="range"  @input="slide" class="slider"
        min="-105" max="105" value="0" step="1"/>
        <p></p>
    </div>
</template>

<script>

export default  {
    name: "Slider",
    data() {
        return {
            //slideValue : 0,
        }
    },
    methods: {
        slide( event) {
            //console.log(event.target.value);
           this.$emit("slide", event.target.value);
        }
    }
}

</script>

<style>

.slider {
    width:100%;
    appearance: none;
    background:lightgray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
</style>