<template>
  <div id="app">
    <div />
    <div class="date-container">
      <div v-for="ord in order" :key="ord" :class="ord">{{ ord }}</div>
    </div>
    <div class="parent_container">
      <Parent
        :parentData="parent_1"
        name="Parent1"
        :selected = "selectedParent == 'Parent1'"
        @selectOrder="selectOrder"
        :order="order"
        @selectParent="selectParent"        
      />
      <h1 class="slide_value">{{slideValue}} </h1>
      <Parent
        :parentData="parent_2"
        name="Parent2"
        :selected = "selectedParent == 'Parent2'"
        @selectOrder="selectOrder"
        :order="order"
        @selectParent="selectParent"        
      />
      <Slider @slide="slide" />
    </div>
    <div class="date"> 
      <input type="date" v-model="theDate" :disabled="isStartDateDisabled" />
      <input type="button" value="Enable start date" @click="enableStartDate" />
    </div>
    <div class="date-container" v-if="theDate">
      <DateTable
        v-for="(month, index) in months"
        :key="`${index}-${month.monthNo}-${month.year}-${startDate}`"
        :month="getMonth(month)"
        :monthNo="month.monthNo"
        class="calendar-item"
        @click="selectDay"
        @selectedColumn="selectMultipleDays"
        @selectedRow="selectMultipleDays"
        @selectedMonth="selectMultipleDays"
      />
    </div>
  </div>
</template>

<script>
import DateTable from "./components/DateTable.vue";
import Parent from "./components/Parent.vue";
import Slider from "./components/Slider.vue";
import {DayInfo} from "./DayInfo.js"
import Vue from 'vue'

export default {
  name: "App",
  components: {
    DateTable,
    Parent,
    Slider,
  },
  data() {
    return {
      slideValue: 0,  
      baseDays: {
        sgi: 195,
        low: 45,
      },
      selectedParent: "",
      order: [],
      allDates: [],
      theDate: undefined,
      enableStart: false,
      selectedDates: [],
      parent1: {
        sgi: 195,
        low: 45
      },
      parent2: {
        sgi: 195,
        low: 45
      }
    };
  },
  mounted() {},
  watch: {
    order() {
      this.testOrder();
      if (!this.theDate) return;
      const [year, month, day] = this.theDate.split("-");
      this.allDates = this.generateDates({ year, month: month - 1, day });
    },
    theDate() {
      const [year, month, day] = this.theDate.split("-");
      this.enableStart = false;
      this.selectedDates = [];
      this.allDates = this.generateDates({ year, month: month - 1, day });
    },
    slideValue() {
      this.parent1.sgi = Number(this.baseDays.sgi) + Number(this.slideValue);
      this.parent2.sgi = Number(this.baseDays.sgi) - Number(this.slideValue);
       const [year, month, day] = this.theDate.split("-");
      this.allDates = this.generateDates({ year, month: month - 1, day });
    },
  },
  computed: {
    startDate() {
      return this.theDate.split("-").slice(2);
    },
    parent_1() {
      return this.allDates
        .filter(day => day.parent1 > 0)
        .reduce(
          (acc, day) => {
            if (day.sgi) {
              acc.sgi++;
            } else {
              acc.low++;
            }
            return acc;
          },
          { sgi: 0, low: 0 }
        );
    },
    parent_2() {
      return this.allDates
        .filter(day => day.parent2 > 0)
        .reduce(
          (acc, day) => {
            if (day.sgi) {
              acc.sgi++;
            } else {
              acc.low++;
            }
            return acc;
          },
          { sgi: 0, low: 0 }
        );
    },
    isStartDateDisabled() {
      if (this.enableStart) {
        return false;
      }
      return !!this.theDate;
    },
    months() {
      return this.allDates.reduce((arr, day) => {
        if (arr.length === 0) {
          arr.push({ monthNo: day.month, year: day.year });
        } else if (arr[arr.length - 1].monthNo !== day.month) {
          arr.push({ monthNo: day.month, year: day.year });
        }
        return arr;
      }, []);
    }
  },
  methods: {
    slide(value) {
      this.slideValue = value;
    },
    selectParent(parent) {
      this.selectedParent = parent;
      Vue.nextTick();
    },
    //  const dayInfo = {
    //       dateNo,
    //       dayOfWeek: firstDay % 7,
    //       leave: 0,
    //       parent1: 0,
    //       parent2: 0,
    //       sgi: false
    //     };

    testOrder() {
      let p = 0;
      while (p < this.order.length) {
        switch (this.order[p]) {
          case "Parent1_sgi":
            break;
          case "Parent1_low":
            break;
          case "Parent2_sgi":
            break;
          case "Parent2_low":
            break;
        }
        p++;
      }
    },
    selectOrder(event) {
      if (this.order.includes(event)) {
        this.order = this.order.filter(e => e !== event);
        return;
      }

      if (this.order.length === 4) {
        return;
      }
      this.order.push(event);
    },
    getMonth({ monthNo, year }) {
      return this.allDates.filter(
        date => date.month === monthNo && date.year === year
      );
    },
    excludeDate(date) {
      return this.selectedDates.some(
        selectedDate =>
          selectedDate.dateNo === date.getDate() &&
          selectedDate.monthNo === date.getMonth() &&
          selectedDate.year === date.getFullYear()
      );
    },
    generateDates({ year, month, day }) {
      let orderindex = 0;
      let tomorrow = new Date(year, month, 0);
      const startDate = new Date(year, month, day);
      //const endDate = new Date(++year, month, 0);
      let dayNo = tomorrow.getDate();
      let dates = [];
      let counterOn = false;
      let parent1 = 0;
      let parent2 = 0;
      let sgi = true;
      let parent_1 = { sgi: this.parent1.sgi, low: this.parent1.low };
      let parent_2 = { sgi: this.parent2.sgi, low: this.parent2.low };
      while (
        parent_1.sgi + parent_1.low + parent_2.sgi + parent_2.low >
        0
        // !(
        //   tomorrow.getYear() === endDate.getYear() &&
        //   tomorrow.getDate() === endDate.getDate() &&
        //   tomorrow.getMonth() === endDate.getMonth()
        // )
      ) {
        tomorrow = new Date(tomorrow.setDate(dayNo + 1));
        dayNo = tomorrow.getDate();
        if (tomorrow.getDate() === startDate.getDate()) {
          counterOn = true;
        }
        if (counterOn && !this.excludeDate(tomorrow)) {
          switch (this.order[orderindex]) {
            case "Parent1_sgi":
              parent1 = 100;
              sgi = true;
              parent_1.sgi--;
              if (parent_1.sgi === 0) {
                orderindex++;
              }
              break;
            case "Parent1_low":
              parent1 = 100;
              sgi = false;
              parent_1.low--;
              if (parent_1.low === 0) {
                orderindex++;
              }
              break;
            case "Parent2_sgi":
              parent2 = 100;
              sgi = true;
              parent_2.sgi--;
              if (parent_2.sgi === 0) {
                orderindex++;
              }
              break;
            case "Parent2_low":
              parent2 = 100;
              sgi = false;
              parent_2.low--;
              if (parent_2.low === 0) {
                orderindex++;
              }
              break;
          }
        }
        // const dayInfo = {
        //   year: tomorrow.getFullYear(),
        //   month: tomorrow.getMonth(),
        //   dateNo: tomorrow.getDate(),
        //   dayOfWeek: tomorrow.getDay() === 0 ? 7 : tomorrow.getDay(),
        //   leave: 0,
        //   parent1,
        //   parent2,
        //   sgi
        // };
        const dayInfo = new DayInfo(tomorrow, parent1, parent2, sgi);
        dates.push(dayInfo);
        parent1 = 0;
        parent2 = 0;
        if (dates.length > 1050) {
          //console.log("break");
          break;
        }
      }
     
      return dates;
    },
    
    selectMultipleDays({monthNo, selectedDays, switchero = false, unSelect}) {
      if (!switchero) {
        selectedDays.forEach(selectedDay => {
          this.selectDay({ monthNo, selectedDay });
        });
      } else {        
        selectedDays.forEach(selectedDay => {
          this.selectDay({ monthNo, selectedDay }, switchero, unSelect);        
        })
      }
    },
    selectDay(value,switchero = false, unSelect) {       
      if (!Array.isArray(value)) {
        const dateNo = value.selectedDay.dateNo;
        const monthNo = value.monthNo;
        const day = value.selectedDay;
        const year = value.selectedDay.year;
        
        if (!switchero) {        
          let unSelects = this.unSelect({dateNo, monthNo, year});
          if (!unSelects) {          
            this.select({dateNo, monthNo, year, day});
          }             
        } else {          
          if (unSelect) {
            this.select({dateNo, monthNo, year, day})
          } else {
            this.unSelect({dateNo, monthNo, year});
          }
        }
      }
      const [year, month, day] = this.theDate.split("-");
      this.allDates = this.generateDates({ year, month: month - 1, day });
    },

    unSelect({dateNo, monthNo, year}) {
      const findIndex = this.selectedDates.findIndex(selectedDate => 
        selectedDate.dateNo === dateNo && selectedDate.monthNo === monthNo && selectedDate.year === year);
        if (findIndex > -1) {
          this.selectedDates.splice(findIndex, 1);      
          return true;
        }
        return false;
    },
    select({dateNo, monthNo, year, day}) {
      const findIndex = this.selectedDates.findIndex(selectedDate => 
        selectedDate.dateNo === dateNo && selectedDate.monthNo === monthNo && selectedDate.year === year);
      if (findIndex  === -1) {
        this.selectedDates.push({dateNo, monthNo, year});
      }
      if (day.parent1 > 0 || day.parent2 > 0) {
        const parent = day.parent1 > 0 ? "parent1" : "parent2";
        this.allDates.find(
          d => d.dateNo === dateNo && d.month === monthNo && d.year === year
        )[parent] = 0;
      }
    },
    enableStartDate() {
      this.enableStart = true;
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.date {
  margin: 10px;
}
.date-container {
  display: flex;
  flex-wrap: wrap;
}
.calendar-item {
  margin: 8px;
}

.parent_container {
  display: inline-block;
  width:50%;
  align-content: center;
}
.Parent1_sgi {
  background: green;
}
.Parent2_sgi {
  background: rgb(79, 79, 243);
}
.Parent1_low {
  background: lightgreen;
}
.Parent2_low {
  background: lightblue;
}
.slide_value {
  display: inline-block;
  width:20%;
}
</style>
